* {
	font-family: sans-serif;
	box-sizing: border-box;
}

#title {
	font-size: 8vw;
	margin: 0;
  	margin-top: 2px;
  	margin-bottom: 2px;	
}

#subtitle {
	font-size: 4vw;
	margin: 0;
  	margin-top: 2px;
  	margin-bottom: 2px;	
}

#map {
	width: 40%;
	position: absolute;
	top: 50%;
	right: 10%;
	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}

#welcome {
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}

#BC path:hover {
	fill: #ad7cfc;
}

#BC path:active {
	fill: #7a34eb;
}

#AB path:hover {
	fill: #7c91fc;
}

#AB path:active {
	fill: #4262ff;
}

#QC path:hover {
	fill: #77cff2;
}

#QC path:active {
	fill: #f9b26c;
}

#ON path:hover {
	fill: #a1f7e9;
}

#ON path:active {
	fill: #46b8a5;
}

#MB path:hover {
	fill: ;
}

#MB path:active {
	fill: ;
}

#SK path:hover {
	fill: ;
}

#SK path:active {
	fill: ;
}

#NB path:hover {
	fill: ;
}

#NB path:active {
	fill: ;
}

#NS path:hover {
	fill: ;
}

#NS path:active {
	fill: ;
}

#PE path:hover {
	fill: ;
}

#PE path:active {
	fill: ;
}

#NT path:hover {
	fill: ;
}

#NT path:active {
	fill: ;
}


html {
	margin: 10%;
}